<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services">
    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
                
                <div>
                    
                    <img src="assets/img/Ibague4.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                
                <div>
                   
                    <img src="assets/img/ucc1.jpg" class="img-fluid" alt="">
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
               
                <div>
                    
                    <img src="assets/img/DL.jpg" class="img-fluid" alt="">
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>
</section><!-- End Featured Services Section -->

<!-- ======= About Us Section ======= -->
<section id="about" class="about pt-0">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4">
            <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
                <img src="assets/img/Logo1.jpg" class="img-fluid" alt="">
               
            </div>
            <div class="col-lg-6 content order-last  order-lg-first">
                <h3>¿Qué es Guia2?</h3>
                <p>
                    Ibagué, la "ciudad musical de Colombia," enfrenta un problema de desempleo juvenil. A pesar de su potencial agrícola y atractivos naturales y culturales, los jóvenes carecen de oportunidades laborales. Para abordar este problema, se propone un proyecto que capacita a jóvenes como guías turísticos, aprovechando el potencial turístico de la ciudad y brindando empleo a la población juvenil.
                </p>
                <ul>
                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bi bi-diagram-3"></i>
                        <div>
                            <h5>Únicos</h5>
                         
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bi bi-fullscreen-exit"></i>
                        <div>
                            <h5>Innovadores</h5>
                            
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-broadcast"></i>
                        <div>
                            <h5>Desarrolladores</h5>
                            
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section><!-- End About Us Section -->