<!-- ======= Services Section ======= -->
<section id="service" class="services pt-0">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <span>Descubre</span>
            <h2>Descubre</h2>

        </div>

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <div class="card-img">
                        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/04/7c/71/f8/canon-del-combeima.jpg?w=500&h=-1&s=1" alt="" class="img-fluid">
                    </div>
                    <h3><a href="service-details.html" class="stretched-link">Cañon del Combeima</a></h3>
                    <p>Este cañón es famoso por su belleza natural y paisajes espectaculares. Está formado por las aguas del río Combeima, que han erosionado profundamente las rocas a lo largo de miles de años, creando imponentes acantilados y formaciones rocosas únicas.</p>
                </div>
            </div><!-- End Card Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                    <div class="card-img">
                        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/12/28/a9/38/el-mejor-descanso.jpg?w=500&h=-1&s=1" alt="" class="img-fluid">
                    </div>
                    <h3><a href="service-details.html" class="stretched-link">Reserva natural Orquideas del Tolima</a></h3>
                    <p>Es un lugar fascinante ubicado en las proximidades de Ibagué, en el departamento de Tolima, Colombia. Esta reserva es conocida por ser un refugio de belleza natural y biodiversidad, especialmente por la amplia variedad de orquídeas que alberga.</p>
                </div>
            </div><!-- End Card Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="card">
                    <div class="card-img">
                        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0d/71/4b/62/catedral-inmaculada-concepcion.jpg?w=500&h=400&s=1" alt="" class="img-fluid">
                    </div>
                    <h3><a href="service-details.html" class="stretched-link">Catedral primada de Ibague</a></h3>
                    <p> es un imponente templo religioso que representa una de las estructuras arquitectónicas más emblemáticas de la región. </p>
                </div>
            </div><!-- End Card Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="card">
                    <div class="card-img">
                        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/08/49/be/67/jardin-botanico-san-jorge.jpg?w=500&h=-1&s=1" alt="" class="img-fluid">
                    </div>
                    <h3><a href="service-details.html" class="stretched-link">Jardín botánico San Jorge</a></h3>
                    <p>es un encantador espacio natural ubicado en la ciudad de Ibagué, en el departamento de Tolima, Colombia. Este jardín botánico es un refugio de biodiversidad y belleza que se extiende en medio de un entorno montañoso. </p>
                </div>
            </div><!-- End Card Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="card">
                    <div class="card-img">
                        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-s/02/b7/d7/9f/museo-de-arte-del-tolima.jpg?w=500&h=400&s=1" alt="" class="img-fluid">
                    </div>
                    <h3><a href="service-details.html" class="stretched-link">Museo de Arte del Tolima</a></h3>
                    <p>El museo ofrece galerías artísticas gratuitas y una que otra muestra con costos de mantenimiento, la atención y organización es impecable.</p>
                </div>
            </div><!-- End Card Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                <div class="card">
                    <div class="card-img">
                        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/15/3d/1a/c8/img-20181103-083516964.jpg?w=500&h=-1&s=1" alt="" class="img-fluid">
                    </div>
                    <h3><a href="service-details.html" class="stretched-link">panoptico de ibagué</a></h3>
                    <p> es una estructura arquitectónica histórica que data del siglo XIX. A lo largo de los años, el Panóptico de Ibagué ha sido testigo de diferentes usos y transformaciones, incluyendo su función como cárcel y posteriormente como museo y centro cultural.</p>
                </div>
            </div><!-- End Card Item -->

        </div>

    </div>
</section><!-- End Services Section -->

<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <span>Preguntas frecuentes</span>
            <h2>Preguntas frecuentes</h2>

        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-10">

                <div class="accordion accordion-flush" id="faqlist">

                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq-content-1">
                                <i class="bi bi-question-circle question-icon"></i>
                                ¿Donde queda Ibagué?
                            </button>
                        </h3>
                        <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                Ibagué es una ciudad que se encuentra ubicada en Colombia, en el continente suramericano. Más específicamente, Ibagué es la capital del departamento del Tolima, que es una de las divisiones administrativas de Colombia. Está situada en el centro del país, en la región conocida como la región Andina.
                            </div>
                        </div>
                    </div><!-- # Faq item-->

                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq-content-2">
                                <i class="bi bi-question-circle question-icon"></i>
                                ¿Cómo es el clima de Ibagué?
                            </button>
                        </h3>
                        <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                Ibagué tiene temperaturas promedio que oscilan entre los 18°C y los 22°C a lo largo del año, lo que lo hace más fresco en comparación con las zonas costeras de Colombia. Las temperaturas pueden variar según la época del año, pero en general, es una ciudad agradable para vivir en términos de clima.
                            </div>
                        </div>
                    </div><!-- # Faq item-->

                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq-content-3">
                                <i class="bi bi-question-circle question-icon"></i>
                                ¿Por qué es conocida Ibagué?
                            </button>
                        </h3>
                        <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                Ibagué es conocida por su belleza natural, su importancia cultural y su economía diversificada, y es un destino importante en Colombia.
                            </div>
                        </div>
                    </div><!-- # Faq item-->

                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq-content-4">
                                <i class="bi bi-question-circle question-icon"></i>
                                ¿Qué hay para comer en Ibagué?
                            </button>
                        </h3>
                        <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                <i class="bi bi-question-circle question-icon"></i>
                                Uno de los platos típicos más destacados de Ibagué, capital del departamento del Tolima en Colombia, es la "Lechona Tolimense". Adicional a estom tambien podras encontrar Tamales, Avena y Buñuelos, y una variedad de restaurantes con ofertas gastronomícas variables.
                            </div>
                        </div>
                    </div><!-- # Faq item-->

                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq-content-5">
                                <i class="bi bi-question-circle question-icon"></i>
                                ¿Qué lugares puedo visitar en Ibagué?
                            </button>
                        </h3>
                        <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                Ibagué, la capital del departamento de Tolima en Colombia, ofrece una variedad de lugares interesantes para visitar.
                            </div>
                        </div>
                    </div><!-- # Faq item-->

                </div>

            </div>
        </div>

    </div>
</section><!-- End Frequently Asked Questions Section -->